@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: 248 250 252;
    /* slate-50 */
    --color-surface: 255 255 255;
    /* white */
    --color-primary: 59 130 246;
    /* blue-500 */
    --color-secondary: 100 116 139;
    /* slate-500 */
    --color-text-primary: 15 23 42;
    /* slate-900 */
    --color-text-secondary: 100 116 139;
    /* slate-500 */
    --color-border: 226 232 240;
    /* slate-200 */
  }

  .dark {
    --color-background: 15 23 42;
    /* slate-900 */
    --color-surface: 30 41 59;
    /* slate-800 */
    --color-primary: 59 130 246;
    /* blue-500 */
    --color-secondary: 148 163 184;
    /* slate-400 */
    --color-text-primary: 248 250 252;
    /* slate-50 */
    --color-text-secondary: 148 163 184;
    /* slate-400 */
    --color-border: 51 65 85;
    /* slate-700 */
  }
}

body {
  @apply bg-zinc-200 dark:bg-zinc-950 text-text-primary transition-colors duration-200;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}